[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
pyjwt = {extras = ["crypto"], version = "*"}
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
prod = "uvicorn app.main:app --host 0.0.0.0 --port 8000"
dev = "uvicorn app.main:app --reload --host 0.0.0.0 --port 8000"
test = "pytest app/tests"
